body{
    
    background-color: #c9ebc8;
    margin: 0;
}

.headerText{
    background-color: #839e83;
    color: #263226;
    font-family: 'Bodoni MT', 'Calisto MT', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
    width: 100%;
    padding: 1px;
    text-align: center;
    text-transform: uppercase;
}

#top{
    text-align: center;
    font-size: 0;
    padding-bottom: 0.5px;
    background-color: #caa78a;
}
.topButtons{
    display: inline-block;
    background-color: #caa78a;


    font-family: "Poppins", 'Segoe UI',  sans-serif;
    font-size: medium;
    font-weight: 600;
    text-transform: capitalize;
    color: #331d0b;

    border: 0px;
    padding: 9px;
    margin: 0px;
    width: 120px;

    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg); 
}

.buttonText{ 
    display: inline-block;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg); 
}

#container{
    color: #263226;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    height: 300px;
    text-align: center;
    font-family: "Poppins", 'Segoe UI',  sans-serif;
    font-size: 25px;
    font-weight: 600;
    background-color: #def2de;
    border-radius: 20px;
    padding-top: 60px;
}
.selector{
    display: inline-block; margin-right: 10px;
}
select{
    background-color: #f4fff4;
    color: #263226;
    font-family: "Poppins", 'Segoe UI',  sans-serif;
    font-weight: 600;
    font-size: 25px;
    border: 3px #839e83 solid;
    border-radius: 3px;
    padding: 5px;
    width: auto;
}
.field{
    display: inline-block;
}
.fieldBox{
    background-color: #f4fff4;
    color: #263226;
    font-family: "Poppins", 'Segoe UI',  sans-serif;
    font-weight: 600;
    font-size: 25px;
    border: 3px #839e83  inset;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
}

